<dev class="container">
    <h1 class="text-center">edit</h1>
    <%= render 'form', test: @test %>
    <p  class="text-center mt-5"><%= link_to 'Show', @test %> |
    <%= link_to 'Back', tests_path %></p>
</dev>